.color-indicator{
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover{
        opacity: 1 !important;
    }
}
.top-cities-table{
    color:#28667e;
    margin-bottom: 20px;
    .top-cities-number{
        font-size: 48px;
        line-height: 44px;
    }
    .top-cities-description-container{
        font-weight: 500;
        span{
            display: block;
        }
    }
    .top-cities-title{
        position: absolute;
        transform: rotate(-90deg) translate(0%, -140px);
        left: 0;
        top: 43%;
    }
    .table-chart-content{
        &:hover{
            background-color: rgba(40, 102, 126, 0.2);
        }
    }
    &.warning-styles{
        .top-cities-sub-description,
        .table-chart-content{
            // color:red;
            color:#792884;
            
        }
        .table-chart-bg{
            // background-color: red;
            background-color: #792884;
        }
    }
    &.available-styles{
        .top-cities-sub-description,
        .table-chart-content{
            color:#16a34a;
        }
        .table-chart-bg{
            background-color: #16a34a;
            max-width: 130px;
        }
    }
}
.menu-link{
    position: relative;
    transition: color 0.25s;
    &:before{
        content:"";
        position: absolute;
        width:0;
        height:3px;
        background-color: #4a148c;
        left:0;
        bottom:-5px;
        transition: width 0.25s;
    }
    &:hover,
    &.active-link{
        color:#4a148c;
        &:before{
            width:100%;
        }
    }
}

.phone-icon{
    animation: animation-phone-ring 2s ease-in-out infinite;
}

@keyframes animation-phone-ring {
    20% { transform: rotate(0deg); }
  21% { transform: rotate(10deg); }
  22% { transform: rotate(-10deg); }
  23% { transform: rotate(12deg); }
  24% { transform: rotate(-12deg); }
  25% { transform: rotate(12deg); }
  26% { transform: rotate(-12deg); }
  28% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  32% { transform: rotate(5deg); }
  34% { transform: rotate(-5deg); }
  36% { transform: rotate(2deg); }
  38% { transform: rotate(0deg); }
  }